In [25]:
import pandas as pd
merged = pd.read_csv('mergecvd.csv')
cvd = pd.read_csv('cardio.csv')
heart = pd.read_csv('Heart.csv')

In [27]:
print('merged',merged.shape)
print('cvd',cvd.shape)
print('Heart',heart.shape)

merged (1918, 12)
cvd (1000, 14)
Heart (918, 12)

In [33]:
merged.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
1913,48,M,NAP,139,349,0,LVH,183,Y,5.6,Flat,1
1914,47,M,ASY,143,258,1,ST,98,Y,5.7,Up,0
1915,69,M,TA,156,434,1,Normal,196,N,1.4,Down,1
1916,45,M,ATA,186,417,0,ST,117,Y,5.9,Down,1
1917,25,M,TA,158,270,0,Normal,143,Y,4.7,NaN,0

In [61]:
X = merged.drop('HeartDisease',axis=1)
y = merged['HeartDisease']

print(f'\nShape of X {X.shape} , Shape of y {y.shape}\n')

Shape of X (1918, 11) , Shape of y (1918,)

In [62]:
# Outlier Detection
# Age is fineminimum is 28 and maximum is 77
# RESTING BP < 40 AND RESTING BP > 250 ARE CONSIDERED AS OUTLIER
# Cholesterol < 100 or Cholesterol > 400 → treated as outlier
# Fasting BS are binary 0 and 1
# Max HR are fine betwen 60 - 202
# Oldpeak < 0 or Oldpeak > 6 → Outlier/Invalid

# Counting the code for Domain Knowledge 
# Resting BP outlier
outlier_restingBP = X[(X['RestingBP'] < 40) | (X['RestingBP'] > 250)]
# Cholestrol outliers
outlier_chol = X[(X['Cholesterol'] < 100 ) | (X['Cholesterol'] > 400) ]
# Oldpeak outlier
outlier_oldpeak = X[(X['Oldpeak'] < 0 ) | (X['Oldpeak'] > 6 )]

# Count total outlier
print("RestingBP outliers:",len(outlier_restingBP))
print("Cholesterol outliers:",len(outlier_chol))
print("Oldpeak outliers:",len(outlier_oldpeak))
# outlier_chol.head()

RestingBP outliers: 1
Cholesterol outliers: 507
Oldpeak outliers: 27

In [34]:
cvd.tail()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
995,9949544,48,1,2,139,349,0,2,183,1,5.6,2,2,1
996,9953423,47,1,3,143,258,1,1,98,1,5.7,1,0,0
997,9965859,69,1,0,156,434,1,0,196,0,1.4,3,1,1
998,9988507,45,1,1,186,417,0,1,117,1,5.9,3,2,1
999,9990855,25,1,0,158,270,0,0,143,1,4.7,0,0,0

In [36]:
heart.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [32]:
print('merged',merged.columns)
print('cvd',cvd.columns)
print('heart',heart.columns)

merged Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')
cvd Index(['patientid', 'age', 'gender', 'chestpain', 'restingBP',
       'serumcholestrol', 'fastingbloodsugar', 'restingrelectro',
       'maxheartrate', 'exerciseangia', 'oldpeak', 'slope', 'noofmajorvessels',
       'target'],
      dtype='object')
heart Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [41]:
merged.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,1918.000000,1918.000000,1918.000000,1918.000000,1918.000000,1918.000000,1918.000000
mean,51.285193,142.485401,257.531283,0.265902,141.328467,1.836444,0.567258
std,14.609167,26.932915,134.286677,0.441928,30.627152,1.707201,0.495585
min,20.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,41.000000,124.000000,197.250000,0.000000,120.000000,0.300000,0.000000
50%,53.000000,138.000000,256.000000,0.000000,141.000000,1.500000,1.000000
75%,62.000000,160.000000,337.000000,1.000000,165.000000,2.900000,1.000000
max,80.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [42]:
cvd.describe()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
count,1.000000e+03,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,5.048704e+06,49.24200,0.765000,0.980000,151.747000,311.447000,0.296000,0.748000,145.477000,0.498000,2.707700,1.540000,1.222000,0.580000
std,2.895905e+06,17.86473,0.424211,0.953157,29.965228,132.443801,0.456719,0.770123,34.190268,0.500246,1.720753,1.003697,0.977585,0.493805
min,1.033680e+05,20.00000,0.000000,0.000000,94.000000,0.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.536440e+06,34.00000,1.000000,0.000000,129.000000,235.750000,0.000000,0.000000,119.750000,0.000000,1.300000,1.000000,0.000000,0.000000
50%,4.952508e+06,49.00000,1.000000,1.000000,147.000000,318.000000,0.000000,1.000000,146.000000,0.000000,2.400000,2.000000,1.000000,1.000000
75%,7.681877e+06,64.25000,1.000000,2.000000,181.000000,404.250000,1.000000,1.000000,175.000000,1.000000,4.100000,2.000000,2.000000,1.000000
max,9.990855e+06,80.00000,1.000000,3.000000,200.000000,602.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,1.000000

In [44]:
heart.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [50]:
print('merged',merged.columns)

merged Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [59]:
cvd.isna().sum()

patientid            0
age                  0
gender               0
chestpain            0
restingBP            0
serumcholestrol      0
fastingbloodsugar    0
restingrelectro      0
maxheartrate         0
exerciseangia        0
oldpeak              0
slope                0
noofmajorvessels     0
target               0
dtype: int64

In [60]:
cvd.duplicated().sum()

np.int64(0)

In [58]:
merged.duplicated(subset=['Age', 'Sex','ChestPainType', 'RestingBP', 'Cholesterol','FastingBS','ExerciseAngina','MaxHR', 'Oldpeak','ST_Slope','HeartDisease' ]).sum()

np.int64(1)

In [5]:
df.duplicated().sum()

np.int64(0)

In [7]:
df['HeartDisease'].value_counts()

HeartDisease
1    1088
0     830
Name: count, dtype: int64

In [8]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [10]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [11]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [16]:
merged = pd.read_csv('mergedcvd.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'mergedcvd.csv'

In [14]:
print(df.columns)
print(data.columns)

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')
Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')